pandas==0.25.1
wasabi==0.2.2
gputil==1.4.0
scikit-learn>=0.20.0
tqdm==4.36.1
joblib==1.2.0
spacy-pytorch-transformers[cuda100]==0.4.0
https://github.com/explosion/spacy-models/releases/download/en_pytt_xlnetbasecased_lg-2.1.1/en_pytt_xlnetbasecased_lg-2.1.1.tar.gz#egg=en_pytt_xlnetbasecased_lg
